/* RESET E REGOLE GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
menu {
    list-style: none;
}

/* TODO: proprietà di debug, da commentare una volta finito */
.debug header {
    background-color: aquamarine;
    padding: 10px 60px;
    border: 5px solid black;
}

.debug .container {
    background-color: orange;
    padding: 5px;
    border: 2px dashed black;
}

.debug .container ul {
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

/* Stile da mantenere */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

nav.container.flex {
    justify-content: space-between;
}

ul.flex {
    gap: 20px;
}