/* RESET E REGOLE GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
menu {
    list-style: none;
}

/* TODO: proprietà di debug, da commentare una volta finito */
.debug header {
    background-color: #ADD8E6;
    /* padding: 10px 60px; */
}

.debug .container {
    background-color: #DAA520;
    /* padding: 5px; */
    border: 2px dashed black;
}

.debug .container ul {
    border-right: 2px dashed black;
    border-left: 2px dashed black;
}

.debug main>:nth-child(1) {
    background-color: #00008B;
}

.debug main>:nth-child(2n + 1) {
    background-color: #D3D3D3;
}

.debug main div>div {
    min-height: 200px;
}

.debug .container.tighter {
    background-color: #EE82EE;
}

.debug .col60 {
    background-color: #1E90FF;
    min-width: 60px;
}

.debug .col40 {
    background-color: #FFC0CB;
    min-width: 40px;
}

.debug footer {
    min-height: 100px;
    background-color: black;
}

/* Stile da mantenere */
.main-header {
    padding: 15px 0;
}

.main-main>* {
    padding: 50px 0;
}

.container {
    /* max-width: 1200px; */
    /* TODO: DA RIMUOVERE E RIMETTERE 1200 */
    max-width: 600px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

nav.container.flex {
    justify-content: space-between;
}

ul.flex {
    gap: 20px;
}

.reverse {
    flex-direction: row-reverse;
}

.col40 {
    flex-basis: 40%;
}

.col60 {
    flex-basis: 60%;
    /* Alternativa:
    flex-grow: 1; */
}